{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Add Note</title>
        <link rel="stylesheet" href="{% static 'navstyle.css' %}">
    </head>
    <body>
        <div class="topnav">
            <a href="http://127.0.0.1:8000/lab-4">Note Table</a>
            <a class="active" href="http://127.0.0.1:8000/lab-4/add-note">Add Note</a>
            <a href="http://127.0.0.1:8000/lab-4/note-list">Note Card</a>
        </div>
        <h1>Add Note</h1>
        <hr>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
