{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note Card</title>
    <link rel="stylesheet" href="{% static 'noteliststyle.css' %}">
    <link rel="stylesheet" href="{% static 'navstyle.css' %}">
  </head>
  <body>
    <div class="topnav">
      <a href="http://127.0.0.1:8000/lab-4">Note Table</a>
      <a href="http://127.0.0.1:8000/lab-4/add-note">Add Note</a>
      <a class="active" href="http://127.0.0.1:8000/lab-4/note-list">Note Card</a>
    </div>
    {% if notes %} 
    {% for note in notes %}
    <div id="card">
      <div id ="header">
        <p class="from">From: {{ note.from_who }}</p>
        <p class="to">To: {{ note.to_who }}</p>
      </div>
      <div id ="content">
        <p class="title">{{ note.title }}</p>
        <p class="message">{{ note.message }}</p>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </body>
</html>
