{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note Table</title>
    <link rel="stylesheet" href="{% static 'indexstyle.css' %}">
    <link rel="stylesheet" href="{% static 'navstyle.css' %}">
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="http://127.0.0.1:8000/lab-4">Note Table</a>
      <a href="http://127.0.0.1:8000/lab-4/add-note">Add Note</a>
      <a href="http://127.0.0.1:8000/lab-4/note-list">Note Card</a>
    </div>
    <table id = "table0">
      <tr id = "tableheader">
        <th id = "header">To</th>
        <th id = "header">From</th>
        <th id = "header">Title</th>
        <th id = "header">Message</th>
      </tr>
      <tr>
        {% if notes %} 
          {% for note in notes %}
          <tr>
            <td>{{ note.to_who }}</td>
            <td>{{ note.from_who }}</td>
            <td>{{ note.title }}</td>
            <td>{{ note.message }}</td>
          </tr>
          {% endfor %}
        {% endif %}
      </tr>
    </table>
  </body>
</html>
