#tableheader {
    color: rgb(134, 7, 7);
    font-weight: bolder;
}

th, td {
    border: 0.7px solid black;
    border-color: black;
    background-color: rgb(101, 154, 225);
    border-radius: 0.4rem;
}

#table0 {
    border: 3px solid black;
    border-color: black;
    font-family:'Courier New', Courier, monospace; 
    background-color: rgb(65, 106, 160);
    border-radius: 0.75rem;
}

#action {
    gap : 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#view-button, #edit-button, #delete-button, #back-button{
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color:rgb(102, 102, 102);
    border-color: rgb(102, 102, 102);
    border-radius: 3px;
}

#view-button:hover, #edit-button:hover, #delete-button:hover, #back-button:hover{
    background-color: rgb(0, 109, 9);
    border-color: rgb(0, 109, 9);
    color: rgb(255, 255, 255);
  }

td {
    font-weight: bold;
}