#tableheader {
    color: rgb(134, 7, 7);
    font-weight: bolder;
}

th, td {
    border: 0.7px solid black;
    border-color: black;
    background-color: rgb(101, 154, 225);
    border-radius: 0.4rem;
}

#table0 {
    border: 3px solid black;
    border-color: black;
    font-family:'Courier New', Courier, monospace; 
    background-color: rgb(65, 106, 160);
    border-radius: 0.75rem;
}

td {
    font-weight: bold;
}