.topnav {
    border: 3px solid black;
    font-family:'Courier New', Courier, monospace; 
    border-radius: 0.35rem;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 10px;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: rgb(101, 154, 225);;
    color: white;
  }