#card {
    font-family:'Courier New', Courier, monospace; 
    width: fit-content;
    margin: 10px;
}

#header {
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    background-color: rgb(65, 106, 160);
    width: 30rem;
    height: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

#content {
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    background-color: rgb(65, 106, 160);
    width:30rem;
    height: max-content;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}

.title {
    border: 3px solid black;
    background-color: rgb(101, 154, 225);
    margin-top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.message {
    display: flex;
    justify-content:left;
    align-items: flex-start;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
}