{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Update Note</title>
        <link rel="stylesheet" href="{% static 'lab5-index.css' %}">
        <script type="text/javascript">
            function back(note){
                window.location.replace("http://127.0.0.1:8000/lab-5");
            }
        </script>
    </head>
    <body>
        <h1>Update Note</h1>
        <hr>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
        <button onclick="back();" id = "back-button">Back</button>
    </body>
</html>
