{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Note</title>
    <link rel="stylesheet" href="{% static 'lab5-index.css' %}">
    <script type="text/javascript">
        function back(note){
            window.location.replace("http://127.0.0.1:8000/lab-5");
        }
    </script>
</head>
<body>
    <table id = "table0">
        <tr id = "tableheader">
            <th id = "header">To</th>
            <th id = "header">From</th>
            <th id = "header">Title</th>
            <th id = "header">Message</th>
        </tr>
        <tbody id = "tablecontent">
            <tr>
                <td>{{ note.to_who }}</td>
                <td>{{ note.from_who }}</td>
                <td>{{ note.title }}</td>
                <td>{{ note.message }}</td>
            </tr>
        </tbody>
    <button onclick="back();" id = "back-button">Back</button>
</body>
</html>