{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Delete Note</title>
        <link rel="stylesheet" href="{% static 'lab5-index.css' %}">
        <script type="text/javascript">
            function back(note){
                window.location.replace("http://127.0.0.1:8000/lab-5");
            }
        </script>
    </head>
    <body>
        <div class="main">
            <!-- Create a Form -->
            <form method="POST">
                <!-- Security token by Django -->
                {% csrf_token %}
                Are you want to delete this item ?
                <input type="submit" value="Yes" />
                <a href="/lab-5">Cancel </a>
            </form>
        </div>
    </body>
</html>
